/**
 * This is the main application stylesheet. It should include or import all
 * stylesheets used throughout the application as this is the only stylesheet in
 * the Grunt configuration that is automatically processed.
 */


/**
 * First, we include the Twitter Bootstrap LESS files. Only the ones used in the
 * project should be imported as the rest are just wasting space.
 */

@import '../../vendor/bootstrap/less/bootstrap.less';


/**
 * This is our main variables file. We must include it last so we can overwrite any variable
 * definitions in our imported stylesheets.
 */

@import 'variables.less';


/**
 * Typography
 */

code, pre, .pre {
  padding: 5px;
  margin: 10px 0;
  background-color: #EFEFEF;
  border: 1px solid #DADADA;
  border-radius: 3px;
}

code {
  padding: 0 3px;
}

pre {
  margin: 10px 0;
  padding: 5px;
}

.page-header {
  margin-top: 60px;

  &:first-child {
    margin-top: 20px;
  }
}

h2 {
  margin: 20px 0;
  color: #666;
}


/**
 * Navigation
 */

.navbar {
  margin-top: 20px;
  
  small {
    font-size: 60%;
  }
}


/**
 * Footer
 */

.footer {
  margin-top: 80px;

  .footer-inner {
    padding: 40px 0;
    border-top: 1px solid #DDD;
  }

  .social {
    float: right;
    margin: 0;
    list-style: none;

    li {
      float: left;
      margin-left: 20px;

      a, a:visited {
        color: @gray-light;
        text-decoration: none;
        font-size: 40px;
        .transition( 250ms ease-in-out );

        &:hover {
          color: @gray;
        }
      }
    }
  }
}

/* section for the image uploader */

.progress {
  display: inline-block;
  width: 100px;
  border: 3px groove #CCC;
}
.progress div {
  font-size: smaller;
  background: orange;
  width: 0;
}
.drop-box {
  background: #F8F8F8;
  border: 5px dashed #DDD;
  width: 200px;
  height: 95px;
  text-align: center;
  padding-top: 25px;
  margin-left: 10px;
}
.up-buttons {
  float: left;
}
.drop-box.dragover {
  border: 5px dashed blue;
}
.drop-box.dragover-err {
  border: 5px dashed red;
}
/* for IE*/
.js-fileapi-wrapper {
  display: inline-block;
  vertical-align: middle;
}
.top-buffer { margin-top:20px; }

.no-padding-left
{
  padding-left: 0;
}

.input-xs {
  height: 22px;
  padding: 2px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.question_text a.glyphicon {
  float:right;
  font-size:16px;
  padding-left: 10px;
}
.addit_keys button.active
{
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #ffffff;
  border-color: #cccccc;
}
.addit_keys button.btn-primary
{
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  background-color: #337ab7 !important;
  border-color: #2e6da4 !important;
}
.questions_list td
{
  overflow: hidden;
}
.questions_list {
  width: 100%;
  table-layout: fixed;
}
.ui-sortable-helper {
  width: 100%;
  margin-left:0px;
}
.sortable-placeholder
{
  background-color: ghostwhite;
  width: 100%;
}

.login_form{
  width:400px;
  margin:auto;
  padding:auto;
}
.login_form input
{
  margin:15px 0 15px 0;
}
