/*!
 * Start Bootstrap - Landing Page Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.navbar
{
    margin-top: 0;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

#wrap {
    min-height: 100%;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto 0 0;
    /* Pad bottom by footer height */
    padding: 0;
}

#wrap > .center-container {
    padding: 50px 0 0 0;
    margin:0;
}

.center-container {
    height:100%;
    width:100%;
    margin:0;
    text-align: center;
}

.logo {
    height:60%;
    width:100%;
    background: url('../img/logo.png') no-repeat center center;
    background-size: auto 100%;
    padding-top: 10px;
}
.intro-message
{
    height:40%;
    width:100%;
}
.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.4);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    .intro-divider {
        width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}