<!DOCTYPE html>
<html data-ng-app="creatorApp">
<head>
    <title>PEXP - Eksperyment</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>"/>
    <% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script>
    <% }); %>

</head>

<body style="background-color: #f2f2f2;">
<div ng-controller="CreatorController">
    <!--submit survey container-->
    <div class="container">
        <div class="row centered-form">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form role="form" onsubmit="return false">
                        <div class="form-group">
                            <h3><label>Nazwa eksperymentu:</label></h3>
                            <input type="text" class="form-control input" placeholder="Nazwa eksperymentu"
                                   ng-model="exp_title" autofocus><br>
                        </div>
                        <div class="form-group">
                            <b>Zapisz swój eksperyment:</b><br>
                            <button type="submit" class="btn btn-info" data-ng-click="submitSurvey()"
                                    ng-disabled="!(!!exp_title)">Zapisz i wyjdź
                            </button>

                            <button type="submit" class="btn btn-default" ng-click="exitShow = true">Wyjdź
                            </button>
                            <div class="alert alert-danger top-buffer" role="alert" ng-show="exitShow">
                                <button type="button" class="close" ng-click="exitShow = false"><span aria-hidden="true">&times;</span></button>
                                W eksperymencie są niezapisane zmiany. Czy chcesz wyjść bez ich zapisania?<br/>
                                <a href="/experiments" class="btn btn-warning">Tak</a>
                                <a ng-click="exitShow = false" class="btn btn-default">Nie</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br><br>

    <div ng-include src="'creator_views/login_form.html'"></div>

    <!--menu container-->
    <div class="container">
        <div class="row centered-form">
            <div class="panel panel-default">
                <div class="panel-body">
                    <ul class="nav nav-pills">
                        <li class="active"><a href="#tab_questions"
                                              aria-controls="tab_questions"
                                              data-toggle="tab" ng-click="questionShow = false">Pozycje</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                Dodaj pozycję
                                <span class="caret"></span>
                            </a>

                            <ul class="dropdown-menu" role="menu" id="tabs_dropdown">
                                <li ng-repeat="t in answerTypes">
                                    <a href="#tab_{{t.type}}_question" aria-controls="tab_{{t.type}}_question"
                                       data-toggle="tab" ng-click="showQuestion(t.type)">{{t.title}}</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row centered-form">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form role="form">
                        <div class="form-group" ng-show="questionShow">
                            <div>
                                <strong ng-show="!newQuestion.edited">Dodawanie - pozycja typu {{answerTypeTitle}}</strong>
                                <strong ng-show="newQuestion.edited">Edycja - pozycja typu {{answerTypeTitle}}</strong>
                                <br/><br/>
                                <label>Nazwa pozycji (obowiązkowa, ukryta przed badanym):</label>
                                <input type="text" class="form-control input-sm"
                                       placeholder="Nazwa pozycji"
                                       ng-model="newQuestion.title"
                                       focus-me="focusPosInput"
                                       name="positionName"
                                       required="">
                                <br>
                                <div class="question_text">
                                    <label>Treść pozycji (pokazywana badanemu):</label>
                                    <a data-toggle="modal" data-target="#optionsModal" ng-show="newQuestion.ans_type != 'instructions'" title="Opcje" class="glyphicon">
                                        <span class="glyphicon glyphicon-cog"/>
                                    </a>
                                    <a ng-click="imageShow=true" title="Dodaj obraz" ng-show="!imageShow" class="glyphicon">
                                        <span class="glyphicon glyphicon-camera"/>
                                    </a>
                                </div>
                                <div>
                                    <textarea class="form-control input-sm" placeholder="Treść pozycji"
                                           ng-model="newQuestion.text"></textarea>
                                </div>
                            </div>

                            <div ng-include src="'creator_views/image_creator.html'"></div>
                        </div>

                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_questions">
                                <b><label>Lista pozycji:</label></b>
                                <table class="table table-hover container questions_list" id="questions_list">
                                    <thead>
                                        <tr class="row">
                                            <th class="col-sm-4">Nazwa</th>
                                            <th class="col-sm-6">Treść</th>
                                            <th class="col-sm-2">Opcje</th>
                                        </tr>
                                    </thead>
                                    <tbody ui-sortable="qsSortable" ng-model="questions">
                                        <tr data-ng-repeat="q in questions" class="row">
                                            <td class="col-sm-4" ng-click="editQuestion(q)">{{q.title}}</td>
                                            <td class="col-sm-6" ng-click="editQuestion(q)">{{q.text}}</td>
                                            <td class="col-sm-2">
                                                <button data-ng-click="deleteQuestion(q)" title="Usuń pozycję">
                                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                                </button>&nbsp
                                                <button data-ng-click="editQuestion(q)" title="Edytuj pozycję">
                                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                                </button>&nbsp
                                                <button data-ng-click="duplicateQuestion(q)" title="Powiel pozycję">
                                                    <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                    <tr class="row">
                                        <td class="col-sm-4" ng-click="editQuestion(finalInstr)">{{finalInstr.title}}</td>
                                        <td class="col-sm-6" ng-click="editQuestion(finalInstr)">{{finalInstr.text}}</td>
                                        <td class="col-sm-2">
                                            <button data-ng-click="editQuestion(finalInstr)" title="Edit question">
                                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="tab-pane" id="tab_text_question"><!-- Empty --></div>
                            <div class="tab-pane" id="tab_instructions_question"><!-- Empty --></div>

                            <div class="tab-pane" id="tab_checkbox_question">
                                <div ng-include src="'creator_views/checkbox_creator.html'"></div>
                             </div>

                            <div class="tab-pane" id="tab_radio_question">
                                <div ng-include src="'creator_views/radio_creator.html'"></div>
                            </div>


                            <div class="tab-pane" id="tab_scale_question">
                                <div ng-include src="'creator_views/scale_creator.html'"></div>
                            </div>


                            <div class="tab-pane" id="tab_list_question">
                                <div ng-include src="'creator_views/list_creator.html'"></div>
                            </div>


                            <div class="tab-pane" id="tab_time_question">
                                <div ng-include src="'creator_views/time_creator.html'"></div>
                            </div>


                            <div class="tab-pane" id="tab_date_question">
                                <div ng-include src="'creator_views/date_creator.html'"></div>
                            </div>


                            <div class="tab-pane" id="tab_grid_question">
                                <div ng-include src="'creator_views/grid_creator.html'"></div>
                            </div>

                            <div class="tab-pane" id="tab_keyboard_question">
                                <div ng-include src="'creator_views/keyboard_creator.html'"></div>
                            </div>

                            <div class="tab-pane" id="tab_fillgaps_question">
                                <div ng-include src="'creator_views/fillgaps_creator.html'"></div>
                            </div>

                            <div ng-include src="'creator_views/advanced_creator.html'"></div>

                            <div ng-show="questionShow">
                                <div class="alert alert-danger top-buffer" role="alert" ng-show="alertShow">
                                    <button type="button" class="close" ng-click="alertShow = false"><span aria-hidden="true">&times;</span></button>
                                    <p><strong>Nie da się dodać pustej pozycji do eksperymentu! </strong></p>
                                    <p>Aby dodać pozycję wpisz jej jakąś treść lub dodaj obrazek.</p>
                                </div>
                                <div class="alert alert-danger top-buffer" role="alert" ng-show="alertShow2">
                                    <button type="button" class="close" ng-click="alertShow = false"><span aria-hidden="true">&times;</span></button>
                                    <p><strong>Pozycja o danej nazwie już istnieje! </strong></p>
                                    <p>Aby dodać pozycję nadaj jej inną nazwę.</p>
                                </div>
                                <button type="submit" class="btn btn-info top-buffer" ng-click="submitQuestion()">
                                    Dodaj pozycję
                                </button>
                                <a href="#tab_questions" class="btn top-buffer btn-default" ng-click="questionShow = false; showTab('tab_questions')">Anuluj</a>
                            </div>
                        </div>
                        <br>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
