<!DOCTYPE html>
<html ng-app="ngBoilerplate" ng-controller="AppCtrl">

<head>
    <title>PEXP Tester</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <style>textarea {
        resize: vertical;
    }</style>



    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>"/>
    <% }); %>


    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script>
    <% }); %>
</head>

<body style="background-color: #f2f2f2;">
<div ng-controller="TesterController" id="TesterController">
    
    <!--submit answers container-->
    <div class="container">
        <h3 class="text-muted">PEXP</h3>
    </div>

    <!--answers container-->
    <div class="container">
        <div class="row centered-form panel panel-default panel-body">
            <form name="ansForm">

                <div ng-hide="questionHide">
                    <div ng-bind-html="question.html"></div>
                    <div ng-show="question.imageSrc"><img ng-src="{{ question.imageSrc }}"/></div>
                </div>
                <div ng-show="showAnswerSection">
                    <div ng-switch="ans_type">
                        <div class="form-group col-lg-12" ng-switch-when="text">
                            <div ng-include src="'tester_views/text_tester.html'"></div>
                        </div>

                        <div class="form-group col-lg-12" ng-switch-when="date">
                            <div ng-include src="'tester_views/date_tester.html'"></div>
                        </div>

                        <div class="form-group col-lg-12" ng-switch-when="checkbox">
                            <div ng-include src="'tester_views/checkbox_tester.html'"></div>
                        </div>

                        <div class="form-group col-lg-12" ng-switch-when="list">
                            <div ng-include src="'tester_views/list_tester.html'"></div>
                        </div>

                        <div class="form-group col-lg-12" ng-switch-when="scale">
                            <div ng-include src="'tester_views/scale_tester.html'"></div>
                        </div>
                        <div class="form-group col-lg-12" ng-switch-when="radio">
                            <div ng-include src="'tester_views/radio_tester.html'"></div>
                        </div>
                        <div class="form-group col-lg-12" ng-switch-when="grid">
                            <div ng-include src="'tester_views/grid_tester.html'"></div>
                        </div>
                    </div>
                </div>
                <hr>
            </form>
            <div ng-switch="ans_type" class="col-sm-offset-1">
                <div ng-switch-when="keyboard"></div>
                <div ng-switch-default>
                    <button ng-if="counter < count - 1" ng-click="saveAns()"  ng-disabled="!checkAns()" class="btn btn-info">
                        Dalej
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <form>
            <button class="btn btn-danger pull-right" ng-show="checkQuestions()" ng-click="submitAnswers()">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                Zakończ eksperyment
            </button>
        </form>
    </div>
</div>
</body>
</html>
