<div class="row">
    <div class="col-xs-6">
        <div class="row">
            <div class="col-xs-11">
                <div class="input-group" data-ng-repeat="ans in q_answers">
                    <label>
                        <input type="checkbox"
                               ng-checked="selection.indexOf(ans.text) > -1"
                               ng-click="toggleSelection(ans.text)"> {{ans.text}}
                    </label>
                </div>
            </div>
        </div>
        </br>
        </br></br>
    </div>
</div>