<div class="row">
    <div class="col-xs-6">

        <div ng-if="!checked_year && !checked_time" class="col-xs-6">
            TODO dropdown with months and days
        </div>


        <div ng-if="checked_year && !checked_time" class="col-xs-6">
            <quick-datepicker ng-model='$parent.$parent.$parent.date' required  disable-timepicker='true'></quick-datepicker>

        </div>

        <div ng-if="checked_year && checked_time" class="col-xs-6">
            <quick-datepicker ng-model='$parent.$parent.$parent.dateTime' required time-format="HH:mm"></quick-datepicker>
        </div>

        <div ng-if="!checked_year && checked_time" class="col-xs-6">
            TODO dropdown with months and days
            <timepicker ng-model="$parent.$parent.$parent.time"  show-meridian="false"></timepicker>
        </div>
    </div>
</div>