<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <td>&nbsp;</td>
                <td ng-repeat="col in grid_cols">{{col.text}}</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in grid_rows">
                <td>{{row.text}}</td>
                <td ng-repeat="col in grid_cols">
                    <label>
                        <input type="radio" ng-model="grid[row.ans_no]" value="{{col.text}}" />
                    </label>
                </td>
            </tr>
        </tbody>
    </table>
</div>
