<div class="row">
    <div class="col-xs-6">
        <div class="row">
            <div class="col-xs-11">
                <div class="input-group">
                    <select ng-options="ans as ans.text for ans in options" ng-model="$parent.$parent.selectedOption"></select>
                </div>
            </div>
        </div>
        </br>
        </br></br>
    </div>
</div>