<div class="row">
    <div class="col-xs-6">
        <div class="row">
            <div class="col-xs-11">
                <div class="input-group" ng-repeat="ans in q_answers">
                    <label>
                        <input type="radio" ng-value="ans.text" ng-model="$parent.$parent.$parent.radio"> {{ans.text}}
                    </label>
                </div>
            </div>
        </div>
        </br>
        </br></br>
    </div>
</div>
