<div class="row">
    <div class="col-xs-6">
        <div class="row">
            <div class="col-xs-11">
                <form>
                    <table class="table table-condensed">
                        <tr>
                            <label>
                                <td data-ng-repeat="(num, text) in scale_ans"><input type="radio" ng-model="$parent.$parent.$parent.selectedRadio" value={{text}}>
                                    </br>{{text}}</td>
                            </label>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>