<div class="modal fade" id="optionsModal" tabindex="-1" role="dialog" aria-labelledby="optionsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Opcje</h4>
            </div>
            <div class="modal-body">
                <p>
                    <strong>Ogranicz czas pokazywania treści pozycji:</strong>
                    <br/> Ukryj treść po <input type="text" size="1" ng-model="newQuestion.expositionTime"> sekundach
                    (0 - nigdy nie ukrywaj).

                <p>
                <p>
                    <strong>Ogranicz czas na odpowiedź:</strong>
                    <br/>Przejdź do następnej pozycji po <input type="text" size="1" ng-model="newQuestion.answerTime"> sekundach.
                    (0 - czekaj na odpowiedź).
                    <br/>Jeżeli ograniczyłeś również czas pokazywania treści pozycji, to czas na odpowiedź będzie liczony po ukryciu treści pozycji.
                </p>
                <p>
                    <strong>Sprawdzaj czasy reakcji</strong>
                    <input type="checkbox" size="1" ng-model="newQuestion.reactionTime">
                </p>
                <p ng-show='!newQuestion.answerTime && newQuestion.ans_type != "keyboard"'>
                    <strong>Odpowiedź jest obowiązkowa</strong>
                    <input type="checkbox" size="1" ng-model="newQuestion.required">
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>