<div class="row">
    <div class="col-xs-6">
        <div data-ng-repeat="ans in newQuestion.answers">
            <div class="row">
                <div class="col-xs-11">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input type="checkbox" disabled>
                        </span>
                        <input type="text" class="form-control"
                               value="{{ans.text}}"
                               ng-model="ans.text" ng-keydown="onCheckboxEnter($event)">
                    </div>
                </div>
                <div class="col-xs-1">
                    <button type="submit" class="btn btn-default btn-xs" title="Usuń opcję"
                            ng-click="removeCheckBoxInput(ans)"
                            aria-label="Remove button">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            </br>
        </div>
        </br></br>

        <div class="row">
            <div class="col-xs-11">
                <div class="input-group" id="new-input">
                    <span class="input-group-addon">
                        <input type="checkbox" aria-label="Checkbox for following text input" disabled>
                    </span>
                    <input type="text" class="form-control"
                           placeholder="Opcja"
                           id="new_input"
                           ng-model="answer.text" ng-keydown="onCheckboxEnter($event)" >
                </div>
            </div>
            <div class="col-xs-1">
                <button type="submit" class="btn btn-default btn-xs" title="Dodaj opcję"
                        ng-click="addNewCheckBoxAnswer()">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
</div>

