<div class="row">
    <div class="col-xs-6">
        <input type="checkbox" ng-model="$parent.checked_year" ng-init="$parent.checked_year=true">Rok<br>
        <input type="checkbox" ng-model="$parent.checked_time" ng-init="$parent.checked_time=false">Czas<br><br>

        <div class="col-xs-6">
            <select>
                <option>Miesiąc</option>
            </select>
            <select>
                <option>Dzień</option>
            </select>
            <select ng-if="$parent.checked_year">
                <option>Rok</option>
            </select>
        </div>

        <div ng-if="$parent.checked_time" class="col-xs-6">
            <select>
                <option>Godziny</option>
            </select>
            <select>
                <option>Minuty</option>
            </select>
            <select>
                <option>Sekundy</option>
            </select>
        </div>
    </div>
</div>