<br/>
<button type="button" ng-click="insertGap()" class="btn btn-info">Insert a gap</button>
<span class="text-info">Wskazówka: możesz wpisać <b>[[</b> nazwa luki, np. <b>luka11</b> <b>]]</b>
    żeby dodać lukę bezpośrednio w treści.</span>
<br/>

<div class="alert alert-warning alert-dismissible fade in top-buffer" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
    <b>"Dodaj lukę"</b> to pozycja, w której badany może wpisywać odpowiedzi bezpośrednio wewnątrz luki w treści pozycji.
    <a data-toggle="modal" data-target="#myModal">
        Przykład.
    </a>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">"Wypełnianie luk" przykładowa pozycja:</h4>
            </div>
            <div class="modal-body">
                The same color may have very different associations for different people.
                For me red color associates with <input type="text" class="input-xs">,
                green color indicates <input type="text" class="input-xs"> and
                blue is the color of <input type="text" class="input-xs">.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

