<div class="row">
    <div class="col-xs-6" align="center">
        Etykiety wierszy:
        <div data-ng-repeat="ans in $parent.newQuestion.answers | filter: {row:true}">
            <div class="row">
                <div class="col-xs-11">
                    <input type="text" class="form-control" value={{ans.text}} ng-model="ans.text">
                </div>
                <div class="col-xs-1">
                    <button type="submit" class="btn btn-default btn-xs" ng-click="removeCheckBoxInput(ans)"
                            title="Usuń wiersz">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            </br>
        </div>
        </br></br>


        <div class="row">
            <div class="col-xs-11">
                <input type="text" class="form-control" ng-model="$parent.row_text">
            </div>
            <div class="col-xs-1">
                <button type="submit" class="btn btn-default btn-xs" ng-click="addNewGridText(true)"
                    title="Dodaj wiersz">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>

    <div class="col-xs-6" align="center">
        Etykiety kolumn:
        <div data-ng-repeat="ans in $parent.newQuestion.answers | filter:{row:false}">
            <div class="row">
                <div class="col-xs-11">
                    <input type="text" class="form-control" value={{ans.text}} ng-model="ans.text">
                </div>
                <div class="col-xs-1">
                    <button type="submit" class="btn btn-default btn-xs"
                            ng-click="removeCheckBoxInput(ans)"
                            aria-label="Remove button" title="Usuń kolumnę">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            </br>
        </div>
        </br></br>

        <div class="row">
            <div class="col-xs-11">
                <input type="text" class="form-control" ng-model="$parent.col_text">
            </div>
            <div class="col-xs-1">
                <button type="submit" class="btn btn-default btn-xs" ng-click="addNewGridText(false)"
                        title="Dodaj kolumnę">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
</div>
