<div ng-show="$parent.imageShow" class="col-md-12 col-xs-12 top-buffer no-padding-left">
    <div ng-file-drop ng-file-select ng-model="$parent.images" ng-model-rejected="$parent.rejFiles"
         drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}"
         class="drop-box col-md-6 col-xs-6"
         ng-multiple="true" allow-dir="true" accept="image/*"
         drop-available="$parent.dropAvailable">
        <div ng-hide="$parent.dropAvailable"></div>
        <div ng-show="$parent.dropAvailable">Przeciągnij obrazek tu lub</div>
        <div>kliknij tu by wybrać</div>
    </div>
    <div class="col-md-2 col-xs-3" ng-show="$parent.imageUploaded" class="drop-box">
        <a href="{{newQuestion.imageSrc}}" target="_blank">
            <img ng-src="{{newQuestion.imageSrc}}" class="img-responsive center-block">
        </a>
    </div>
    <div class="col-md-2 col-xs-3">
        <input class="btn btn-default" type="button" value="Usuń obraz"
               ng-click="$parent.removeImage()">
    </div>
</div>
<div class="clearfix"></div>