<div class="row">
    <div class="col-md-12"><label>Dozwolone przyciski klawiatury:</label></div>
    <div class="col-md-6">
        <input type="text" ng-model="newQuestion.keyboardKeysAllowed" class="form-control input-sm ng-pristine ng-valid">
    </div>
    <div class="btn-group addit_keys col-md-6" data-toggle="buttons">
        <button ng-repeat="key in newQuestion.additionalKeys" class="btn btn-default"
                ng-click="key.allowed = !key.allowed" ng-class="{ 'btn-primary' : key.allowed }">{{key.text}}</button>
    </div>



</div>
<div class="row" ng-show="!newQuestion.feedback">
    <div  class="col-md-12">
        <button class="btn btn-default" ng-click="newQuestion.feedback = true;">Dodaj informację zwrotną</button>
    </div>
</div>
<div ng-show="newQuestion.feedback" class="top-buffer">
    <div class="row top-buffer">
        <div class="col-md-12"><label>Poprawne przyciski klawiatury:</label></div>
        <div class="col-md-6">
            <input type="text" ng-model="newQuestion.keyboardKeysCorrect" class="form-control input-sm ng-pristine ng-valid">
        </div>
        <div class="btn-group addit_keys col-md-6" data-toggle="buttons">
            <button ng-repeat="key in newQuestion.additionalKeys" class="btn btn-default" ng-disabled="!key.allowed"
                    ng-click="key.correct = !key.correct" ng-class="{ 'btn-primary' : key.correct }">{{key.text}}</button>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-12"><label>Treść kommunikatu o poprawnej odpowiedzi:</label></div>
        <div class="col-md-12"><input type="text" ng-model="newQuestion.keyCorrectMsg" class="form-control input-sm"></div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-12"><label>Treść kommunikatu o niepoprawnej odpowiedzi:</label></div>
        <div class="col-md-12"><input type="text" ng-model="newQuestion.keyWrongMsg" class="form-control input-sm"></div>
    </div>
    <div class="row top-buffer"><div class="col-md-12">
        <button class="btn btn-warning" ng-click="newQuestion.feedback = false">Usuń informację zwrotną</button>
    </div></div>
</div>