<div class="row">
    <div class="col-xs-6">
        <div data-ng-repeat="ans in newQuestion.answers">
            <div class="row">
                <div class="col-xs-11">
                    <input type="text" class="form-control"
                           aria-label="Text input with checkbox"
                           value={{ans.text}}
                           ng-model="ans.text" ng-keydown="onCheckboxEnter($event)">
                </div>
                <div class="col-xs-1">
                    <button type="submit" class="btn btn-default btn-xs" title="Usuń opcję"
                            ng-click="removeCheckBoxInput(ans)"
                            aria-label="Remove button">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            </br>
        </div>
        </br></br>

        <div class="row">
            <div class="col-xs-11">
                <input type="text" class="form-control"
                       aria-label="Text input with checkbox"
                       placeholder="Opcja"
                       ng-model="answer.text" ng-keydown="onCheckboxEnter($event)">
            </div>
            <div class="col-xs-1">
                <button type="submit" class="btn btn-default btn-xs" title="Dodaj opcję"
                        aria-label="Add new option button"
                        ng-click="addNewCheckBoxAnswer()" >
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
</div>