<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Logowanie</h4>
            </div>
            <div class="modal-body">
                <form class="login_form" ng-submit="submit_login()">
                    <p>Z powodów biespeczeństwa twoja sesja wygasła. Zaloguj się ponownie.</p>
                    <div class="alert alert-danger" role="alert" ng-show="account.login_failed_msg">Niepoprawny adres e-mail lub hasło.</div>
                    <label for="username" class="sr-only">Adres e-mail</label>
                    <input id="username" ng-model="account.username" class="form-control" placeholder="Adres e-mail" required autofocus>
                    <label for="password" class="sr-only">Hasło</label>
                    <input type="password" id="password" ng-model="account.password" class="form-control" placeholder="Hasło" required>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Zaloguj się</button>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>