<div class="row">
    <div class="col-xs-4">
        Wybierz liczbę punktów skali:
        <div class="row" align="center">
            <select ng-model="newQuestion.answers.ans_no"
                    ng-change="createEmptyAnswers()">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
            </select>
        </div>


        <div data-ng-repeat="i in range(1, newQuestion.answers.ans_no)">
            <div class="form-group">
                <label class="col-xs-1 control-label">{{i}}:</label>

                <div class="col-xs-10">
                    <input type="text" class="form-control"
                           placeholder="Etykieta{{i}}" ng-model="newQuestion.answers[i - 1]"><br>
                </div>
            </div>
            </br>
        </div>
        </br>
    </div>
</div>