<div class="row">
    <div class="col-xs-4">
        <input type="checkbox" ng-model="$parent.checked_duration" ng-init="$parent.checked_duration=false">Czas trwania<br><br>
        <span ng-if="$parent.checked_duration==false">
            <select>
                <option> Godzina</option>
            </select>
            <select>
                <option> Minuta</option>
            </select>
        </span>
        <span ng-if="$parent.checked_duration">
            <select>
                <option> Godziny</option>
            </select>
            <select>
                <option> Minuty</option>
            </select>
            <select>
                <option> Sekundy</option>
            </select>
        </span>
    </div>
</div>